body {
  font-family: system-ui;
  background: black;
  color: white;
  height: 100px;
  max-width: 900px;
  margin: auto;
}
h1 {
  color: lightblue;
 margin-right: 100px;
  margin-left: 100px;
}
h2 {
 color: lightblue;
  margin-right:;
  margin-left:;
}
